<!doctype html>  
<html>
  <head>  
  <meta charset="utf-8">  
  <title></title>  
  <script src="/static/upload/sha256.js"></script>
  <script src="/static/upload/upload.js"></script>
  <script>
	function  handleFiles(files) {  
		if(files.length) {
			window.upload = new Uploader(files[0]);
		}  
	} 


  </script>  
    
  </head>  
  <body>  
  <input type="file" id="file" onchange="handleFiles(this.files)">  
  <div style="width:500px;height:20px;"><div id="bar" style="height:100%;width:0%;background-color:#02F;"></div></div>
  <div id="filecontent"></div>  
  <div id="sha"></div>
  </body>  
</html>  
