.top-container {
  width: 100%;
  height: 150px;
}

.top-container-tab {
  position: absolute;
  z-index: 100;
  margin-top: 1px;
  height:
}

.top-container-pic {
  position: absolute;
  z-index:1;
}
