<!doctype html>  
<html>
  <head>  
  <meta charset="utf-8">  
  <title></title>  
  <script src="/static/upload/sha256.js"></script>
  <script src="/static/upload/upload.js"></script>
  <script>
	function  handleFiles(files) {  
		if(files.length) {
			var upload = new Uploader(files[0],function(obj){
				document.getElementById("bar").style.width = obj.checksumprog+"%";
				document.getElementById("bar2").style.width = obj.uploadprog+"%";
			});
			var lastprog=0,inter=5000;
			setInterval(function(){
				if (upload.checksumprog != 100) {
					console.log(((upload.checksumprog - lastprog)*files[0].size/inter)+"B/s");
					lastprog = upload.checksumprog;
				} else 	if (lastprog==100 && upload.uploadprog != 100) {
						lastprog=0;
				} else {
					console.log(((upload.uploadprog - lastprog)*files[0].size/inter)+"B/s");
					lastprog = upload.uploadprog;
				}
			},inter);
		}  
	} 


  </script>  
    
  </head>  
  <body>  
  <input type="file" id="file" onchange="handleFiles(this.files)">  
  <div style="width:500px;height:20px;"><div id="bar" style="height:100%;width:0%;background-color:#02F;"></div><div id="bar2" style="height:100%;width:0%;background-color:#F00;"></div></div>
  </body>  
</html>  
